[submodule "warnings"]
	path = warnings
	url = git@github.com:jenkinsci/warnings-plugin.git
[submodule "analysis-core"]
	path = analysis-core
	url = git@github.com:jenkinsci/analysis-core-plugin.git
[submodule "analysis-pom"]
	path = analysis-pom
	url = git@github.com:jenkinsci/analysis-pom-plugin.git
[submodule "analysis-test"]
	path = analysis-test
	url = git@github.com:jenkinsci/analysis-test-plugin.git
[submodule "analysis-config"]
	path = analysis-config
	url = git@github.com:jenkinsci/analysis-config-plugin.git
[submodule "analysis-collector"]
	path = analysis-collector
	url = git@github.com:jenkinsci/analysis-collector-plugin.git
[submodule "checkstyle"]
	path = checkstyle
	url = git@github.com:jenkinsci/checkstyle-plugin.git
[submodule "dry"]
	path = dry
	url = git@github.com:jenkinsci/dry-plugin.git
[submodule "findbugs"]
	path = findbugs
	url = git@github.com:jenkinsci/findbugs-plugin.git
[submodule "pmd"]
	path = pmd
	url = git@github.com:jenkinsci/pmd-plugin.git
[submodule "tasks"]
	path = tasks
	url = git@github.com:jenkinsci/tasks-plugin.git
